.nav {
  align-items: center;
  background: #000;
  color: #fff;
  display: flex;
  height: 50px;
  justify-content: center;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav li {
  width: 100px;
}

.nav li :hover {
  opacity: 80%;
}

.nav ul {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav ul li a {
  margin: 5px 15px;
}
