.flexItem {
  background-color: rgba(205, 200, 207, 0.656);
  width: 300px;
  margin: 15px;
  border-radius: 15px;
}

.donationBox {
  background-color: dodgerblue;
  border-radius: 10px;
  padding: 5px 20px;
  margin-top: 20px;
  font-size: 0.75rem;
}

.userActionsDiv {
  width: 100%;
}

.userActionsDiv button {
  margin: 0 10px;
  cursor: pointer;
}

.button {
  margin: 15px;
}

.create {
  color: blue;
}

.edit {
  color: green;
}

.delete {
  color: red;
}

.hr {
  width: 80%;
}
